<!DOCTYPE html>
<head>
  <title>{{ title }}</title>
  <style>
body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}
  </style>
</head>
<body>
  <main>
    <section id="about">
      {{ about }}
    </section>
    <section id="achievements">
      <div>{% for yearly in achievements %}
        <b>{{ yearly.year }} - {{ yearly.grade }}</b>
        {% for item in yearly['items'] %}<ul>
          <li>{{ item.title }}{{ ' ('~abbrev[item.title]~')' if abbrev[item.title] else "" }} <i>{{ item.ranking }}</i>: {{ item.award }} <a href={{ "certs"~item.filename }}>view cert.</a></li>
        </ul>{% endfor %}
      {% endfor %}</div>
    </section>
  </main>
</body>
