<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: "DM Sans", ui-sans-serif, system-ui, sans-serif;
      }
      .timeline {
        list-style: none;
        margin: 0.5em 0 1.5em;
        padding: 0;
      }
      .timeline li {
        position: relative;
        padding: 0 0 0.6em 1.4em;
      }
      .timeline li::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0.45em;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background: #111;
        z-index: 1;
      }
      .timeline li::after {
        content: "";
        position: absolute;
        left: 3.5px;
        top: 0;
        bottom: 0;
        width: 2px;
        background: #ccc;
      }
      .timeline li:first-child::after {
        top: 0.45em;
      }
      .timeline li:last-child::after {
        bottom: auto;
        height: 0.45em;
      }
    </style>
  </head>
  <body>
    <main>
      <section id="about">{{ about }}</section>
      <section id="achievements">
        <div>
          {% for yearly in achievements %}
            <b>{{ yearly.year }} - {{ yearly.grade }}</b>
            <ul class="timeline">
              {% for item in yearly['items'] %}
                <li>
                  {{ item.title }}{{ ' ('~abbrev[item.title]~')' if abbrev[item.title] else "" }}
                  <i>{{ item.ranking }}</i>: {{ item.award }}
                  <a href="{{ "certs"~item.filename }}">view cert.</a>
                </li>
              {% endfor %}
            </ul>
          {% endfor %}
        </div>
      </section>
    </main>
  </body>
</html>
